* {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  height: 64px;
  width: 200px;
  background: #fd6e0a;
  padding: 18px 35px;
  border: 0;
  border-radius: 5px;
  text-align: center;
  margin-right: 47px;
}
.header {
  height: 800px;
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* header and navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 150px 100px 150px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
/* Banner styles */
.banner {
  display: flex;
  margin: 0 150px;
  justify-content: space-between;
  align-items: center;
}
.banner-title {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
.author-name {
  color: #181818;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 30px;
}
#btn-contact {
  background-color: #fff8f3;
  border: 2px solid red;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  width: 150px;
  font-weight: 800;
}
/* main seciton styles */
main {
  max-width: 1140px;
  margin-right: 230px;
  margin-left: 230px;
}

/* about section styles */
.about-me {
  height: 250px;
  margin-top: 130px;
  background: #fff8f3;
  text-align: center;
  border-radius: 10px;
  padding: 130px 150px;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-title {
  font-weight: 400;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
  color: #757575;
}
.info-description {
  font-weight: 900;
  font-size: 17px;
  font-weight: 800;
  color: #474747;
}
/* what i do styles */
.what-i-do {
  margin-bottom: 15px;
  background-color: white;
  padding: 130px 150px;
  text-align: center;
  font-weight: 400;
}
/* my skills section */
.my-skills {
  display: flex;
  gap: 20px;
}
.skill {
  padding: 30px;
  height: 290px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  margin-bottom: 130px;
}
.skill:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.skill-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  color: #181818;
}
.skill-description {
  line-height: 28px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}
/* resume styles */
.resume-content {
  display: flex;
  gap: 40px;
}
.resume-content .resume-title {
  font-weight: 700;
  font-size: 30px;
  margin-top: 90px;
  margin-bottom: 30px;
  color: #474747;
}
.resume-item .title {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 22px;
  color: #474747;
}
.resume .sub-title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 34px;
  color: #757575;
}
.resume .description {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #757575;
}
.horizontal-line{
  margin-top: 30px;
  margin-bottom: 30px;
}
.last-btn{
  margin: 100px 500px 113px 500px;
}